# Exploring Data with Pandas

In [8]:
import pandas as pd

df_yr1 = pd.read_csv(r'C:\Users\anooj\Desktop\ga-data\NBA-Playoff-Predictor\NBA Total Stats 15-16.csv')
df_yr2 = pd.read_csv(r'C:\Users\anooj\Desktop\ga-data\NBA-Playoff-Predictor\NBA Total Stats 16-17.csv')
df_yr3 = pd.read_csv(r'C:\Users\anooj\Desktop\ga-data\NBA-Playoff-Predictor\NBA Total Stats 17-18.csv')
df_yr4 = pd.read_csv(r'C:\Users\anooj\Desktop\ga-data\NBA-Playoff-Predictor\NBA Total Stats 18-19.csv')
df_yr5 = pd.read_csv(r'C:\Users\anooj\Desktop\ga-data\NBA-Playoff-Predictor\NBA Total Stats 19-20.csv')
df_yr6 = pd.read_csv(r'C:\Users\anooj\Desktop\ga-data\NBA-Playoff-Predictor\NBA Total Stats 20-21.csv')
df_yr1 = pd.DataFrame(df_yr1)
df_yr1

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Golden State Warriors*,82,19880,3489,7159,0.487,1077,2592,0.416,...,0.763,816,2972,3788,2373,689,498,1245,1701,9421
1,2.0,Oklahoma City Thunder*,82,19830,3372,7082,0.476,678,1945,0.349,...,0.782,1071,2916,3987,1883,603,487,1305,1691,9038
2,3.0,Sacramento Kings,82,19805,3283,7083,0.464,660,1839,0.359,...,0.725,868,2760,3628,2009,733,368,1326,1676,8740
3,4.0,Houston Rockets*,82,19830,3094,6847,0.452,878,2533,0.347,...,0.694,930,2601,3531,1821,821,430,1307,1790,8737
4,5.0,Boston Celtics*,82,19780,3216,7318,0.439,717,2142,0.335,...,0.788,950,2733,3683,1981,752,348,1127,1796,8669
5,6.0,Portland Trail Blazers*,82,19805,3167,7040,0.450,864,2336,0.370,...,0.754,948,2782,3730,1748,562,380,1200,1782,8622
6,7.0,Los Angeles Clippers*,82,19830,3141,6759,0.465,797,2190,0.364,...,0.692,721,2727,3448,1873,709,460,1063,1746,8569
7,8.0,Cleveland Cavaliers*,82,19855,3171,6888,0.460,880,2428,0.362,...,0.748,873,2777,3650,1861,551,317,1114,1666,8555
8,9.0,Washington Wizards,82,19755,3238,7033,0.460,709,1983,0.358,...,0.730,743,2688,3431,2005,708,323,1186,1708,8534
9,10.0,San Antonio Spurs*,82,19705,3289,6797,0.484,570,1518,0.375,...,0.803,770,2831,3601,2010,677,485,1071,1433,8490
10,11.0,Charlotte Hornets*,82,19855,3036,6922,0.439,873,2410,0.362,...,0.790,734,2869,3603,1778,595,438,1030,1487,8479
11,12.0,Atlanta Hawks*,82,19830,3168,6923,0.458,815,2326,0.350,...,0.783,679,2772,3451,2100,747,486,1226,1570,8433
12,13.0,New Orleans Pelicans,82,19780,3153,7040,0.448,702,1951,0.360,...,0.776,782,2712,3494,1818,633,342,1102,1713,8423
13,14.0,Toronto Raptors*,82,19780,3006,6669,0.451,708,1915,0.370,...,0.777,836,2724,3560,1536,636,449,1073,1610,8422
14,15.0,Minnesota Timberwolves,82,19880,3095,6668,0.464,455,1347,0.338,...,0.792,821,2587,3408,1916,656,375,1231,1696,8398
15,16.0,Dallas Mavericks*,82,20005,3064,6900,0.444,806,2342,0.344,...,0.794,751,2781,3532,1813,560,306,1047,1595,8388
16,17.0,Indiana Pacers*,82,19880,3142,6985,0.450,663,1889,0.351,...,0.764,847,2779,3626,1741,742,391,1219,1641,8377
17,18.0,Orlando Magic,82,19905,3242,7120,0.455,636,1818,0.350,...,0.757,843,2709,3552,1933,673,417,1155,1701,8369
18,19.0,Detroit Pistons*,82,19880,3111,7087,0.439,740,2148,0.345,...,0.668,1021,2777,3798,1594,573,304,1110,1557,8361
19,20.0,Denver Nuggets,82,19830,3093,7003,0.442,656,1943,0.338,...,0.766,941,2718,3659,1858,609,395,1202,1723,8355
20,21.0,Chicago Bulls,82,19905,3165,7170,0.441,651,1753,0.371,...,0.787,907,2889,3796,1870,495,470,1141,1545,8335
21,22.0,Phoenix Suns,82,19705,3051,7018,0.435,738,2118,0.348,...,0.751,943,2733,3676,1701,632,313,1410,1858,8271
22,23.0,Miami Heat*,82,19830,3150,6697,0.470,498,1480,0.336,...,0.744,807,2811,3618,1709,553,531,1155,1502,8204
23,24.0,Memphis Grizzlies*,82,19830,3019,6859,0.440,504,1521,0.331,...,0.783,916,2497,3413,1697,724,350,1090,1783,8126
24,25.0,Milwaukee Bucks,82,19830,3145,6740,0.467,440,1277,0.345,...,0.747,858,2559,3417,1895,672,475,1247,1695,8122
25,26.0,Brooklyn Nets,82,19755,3136,6920,0.453,531,1508,0.352,...,0.757,863,2614,3477,1829,627,332,1212,1476,8089
26,27.0,New York Knicks,82,19805,3022,6886,0.439,610,1762,0.346,...,0.805,850,2788,3638,1682,467,466,1099,1616,8065
27,28.0,Utah Jazz,82,19955,2957,6593,0.449,694,1956,0.355,...,0.744,880,2665,3545,1555,631,425,1224,1655,8010
28,29.0,Philadelphia 76ers,82,19805,2970,6887,0.431,764,2255,0.339,...,0.694,777,2605,3382,1765,680,495,1343,1780,7988
29,30.0,Los Angeles Lakers,82,19730,2880,6956,0.414,639,2016,0.317,...,0.781,878,2645,3523,1478,593,337,1124,1662,7982
30,NaN,League Average,82,19828,3136,6935,0.452,698,1975,0.354,...,0.757,854,2734,3588,1828,643,406,1179,1662,8419

In [2]:
#determine the dimensions of our dataframe
df.shape

(31, 25)

In [3]:
#determine the number of rows

df.shape[0]

31

In [4]:
#print the last 3 rows
df.tail(3)

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
28,29.0,Philadelphia 76ers,82,19805,2970,6887,0.431,764,2255,0.339,...,0.694,777,2605,3382,1765,680,495,1343,1780,7988
29,30.0,Los Angeles Lakers,82,19730,2880,6956,0.414,639,2016,0.317,...,0.781,878,2645,3523,1478,593,337,1124,1662,7982
30,NaN,League Average,82,19828,3136,6935,0.452,698,1975,0.354,...,0.757,854,2734,3588,1828,643,406,1179,1662,8419

In [13]:
#create a python function that adds the same year to each team in the dataframe
#15-16 season
year_one_list = df_yr1['Team'].tolist()  
year1_column = []

for x in year_one_list:
    year1_column.append('15-16')
    
df_yr1['Year'] = year1_column
df_yr1

#16-17 season
year_two_list = df_yr2['Team'].tolist()  
year2_column = []

for x in year_two_list:
    year2_column.append('16-17')
    
df_yr2['Year'] = year2_column
df_yr2

#17-18 season
year_three_list = df_yr3['Team'].tolist()  
year3_column = []

for x in year_three_list:
    year3_column.append('17-18')
    
df_yr3['Year'] = year3_column
df_yr3

#18-19 season
year_four_list = df_yr4['Team'].tolist()  
year4_column = []

for x in year_four_list:
    year4_column.append('18-19')
    
df_yr4['Year'] = year4_column
df_yr4

#19-20 season
year_five_list = df_yr5['Team'].tolist()  
year5_column = []

for x in year_five_list:
    year5_column.append('19-20')
    
df_yr5['Year'] = year5_column
df_yr5

#20-21 season
year_six_list = df_yr6['Team'].tolist()  
year6_column = []

for x in year_five_list:
    year6_column.append('20-21')
    
df_yr6['Year'] = year6_column
df_yr6

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1.0,Milwaukee Bucks*,72,17330,3221,6610,0.487,1038,2669,0.389,...,741,2724,3465,1834,585,334,995,1244,8649,20-21
1,2.0,Brooklyn Nets*,72,17405,3106,6289,0.494,1020,2600,0.392,...,640,2559,3199,1929,484,379,975,1371,8537,20-21
2,3.0,Washington Wizards*,72,17405,3108,6547,0.475,733,2088,0.351,...,697,2557,3254,1835,528,297,1037,1555,8398,20-21
3,4.0,Utah Jazz*,72,17355,2971,6344,0.468,1205,3098,0.389,...,765,2709,3474,1703,474,371,1023,1335,8382,20-21
4,5.0,Portland Trail Blazers*,72,17305,2973,6558,0.453,1132,2939,0.385,...,766,2441,3207,1531,496,363,799,1362,8360,20-21
5,6.0,Indiana Pacers,72,17455,3115,6567,0.474,889,2445,0.364,...,648,2424,3072,1973,611,460,975,1453,8302,20-21
6,7.0,Phoenix Suns*,72,17480,3118,6357,0.490,940,2490,0.378,...,630,2462,3092,1939,517,312,902,1374,8300,20-21
7,8.0,Denver Nuggets*,72,17480,3114,6422,0.485,927,2462,0.377,...,758,2442,3200,1933,582,323,972,1374,8284,20-21
8,9.0,New Orleans Pelicans,72,17430,3060,6412,0.477,762,2190,0.348,...,845,2568,3413,1872,545,315,1052,1295,8251,20-21
9,10.0,Los Angeles Clippers*,72,17280,3009,6242,0.482,1027,2498,0.411,...,678,2501,3179,1756,509,295,950,1383,8209,20-21
10,11.0,Sacramento Kings,72,17305,3067,6382,0.481,874,2400,0.364,...,674,2307,2981,1836,543,358,963,1400,8189,20-21
11,12.0,Golden State Warriors,72,17305,2973,6347,0.468,1048,2789,0.376,...,574,2524,3098,1991,587,342,1080,1526,8187,20-21
12,13.0,Atlanta Hawks*,72,17405,2937,6281,0.468,895,2402,0.373,...,760,2525,3285,1737,503,342,953,1392,8186,20-21
13,14.0,Philadelphia 76ers*,72,17430,2981,6257,0.476,811,2169,0.374,...,722,2522,3244,1706,655,447,1040,1456,8182,20-21
14,15.0,Memphis Grizzlies*,72,17405,3085,6608,0.467,803,2258,0.356,...,803,2543,3346,1938,655,364,957,1349,8157,20-21
15,16.0,Boston Celtics*,72,17380,2985,6401,0.466,979,2618,0.374,...,765,2421,3186,1689,556,383,1012,1471,8109,20-21
16,17.0,Dallas Mavericks*,72,17305,2958,6287,0.470,994,2744,0.362,...,657,2463,3120,1647,450,311,869,1396,8096,20-21
17,18.0,Minnesota Timberwolves,72,17405,2932,6546,0.448,944,2706,0.349,...,757,2376,3133,1846,632,398,1027,1507,8073,20-21
18,19.0,Toronto Raptors,72,17305,2859,6383,0.448,1041,2831,0.368,...,680,2314,2994,1735,618,389,952,1526,8011,20-21
19,20.0,San Antonio Spurs,72,17480,3014,6518,0.462,716,2046,0.350,...,669,2489,3158,1759,505,366,821,1293,7998,20-21
20,21.0,Chicago Bulls,72,17380,3035,6380,0.476,904,2446,0.370,...,693,2544,3237,1927,482,304,1089,1362,7969,20-21
21,22.0,Los Angeles Lakers*,72,17455,2925,6197,0.472,796,2248,0.354,...,695,2490,3185,1775,562,386,1095,1377,7887,20-21
22,23.0,Charlotte Hornets,72,17355,2875,6324,0.455,985,2666,0.369,...,762,2389,3151,1933,565,344,1069,1298,7881,20-21
23,24.0,Houston Rockets,72,17305,2826,6372,0.444,992,2923,0.339,...,671,2396,3067,1699,546,361,1060,1407,7833,20-21
24,25.0,Miami Heat*,72,17380,2824,6029,0.468,932,2606,0.358,...,579,2409,2988,1895,569,286,1013,1363,7781,20-21
25,26.0,New York Knicks*,72,17430,2839,6225,0.456,847,2163,0.392,...,696,2554,3250,1541,507,365,932,1473,7706,20-21
26,27.0,Detroit Pistons,72,17430,2783,6162,0.452,832,2370,0.351,...,694,2381,3075,1743,531,371,1075,1477,7676,20-21
27,28.0,Oklahoma City Thunder,72,17355,2795,6338,0.441,857,2529,0.339,...,715,2568,3283,1588,504,316,1162,1305,7560,20-21
28,29.0,Orlando Magic,72,17330,2754,6423,0.429,784,2288,0.343,...,747,2525,3272,1571,496,318,924,1237,7488,20-21
29,30.0,Cleveland Cavaliers,72,17430,2778,6175,0.450,720,2141,0.336,...,751,2327,3078,1716,559,325,1114,1308,7476,20-21
30,NaN,League Average,72,17383,2967,6366,0.466,914,2494,0.367,...,708,2482,3190,1786,545,351,996,1389,8071,20-21

In [14]:
#concatenante dataframes

frames = [df_yr1, df_yr2, df_yr3, df_yr4, df_yr5, df_yr6]

result = pd.concat(frames)
result

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1.0,Golden State Warriors*,82,19880,3489,7159,0.487,1077,2592,0.416,...,816,2972,3788,2373,689,498,1245,1701,9421,15-16
1,2.0,Oklahoma City Thunder*,82,19830,3372,7082,0.476,678,1945,0.349,...,1071,2916,3987,1883,603,487,1305,1691,9038,15-16
2,3.0,Sacramento Kings,82,19805,3283,7083,0.464,660,1839,0.359,...,868,2760,3628,2009,733,368,1326,1676,8740,15-16
3,4.0,Houston Rockets*,82,19830,3094,6847,0.452,878,2533,0.347,...,930,2601,3531,1821,821,430,1307,1790,8737,15-16
4,5.0,Boston Celtics*,82,19780,3216,7318,0.439,717,2142,0.335,...,950,2733,3683,1981,752,348,1127,1796,8669,15-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,27.0,Detroit Pistons,72,17430,2783,6162,0.452,832,2370,0.351,...,694,2381,3075,1743,531,371,1075,1477,7676,20-21
27,28.0,Oklahoma City Thunder,72,17355,2795,6338,0.441,857,2529,0.339,...,715,2568,3283,1588,504,316,1162,1305,7560,20-21
28,29.0,Orlando Magic,72,17330,2754,6423,0.429,784,2288,0.343,...,747,2525,3272,1571,496,318,924,1237,7488,20-21
29,30.0,Cleveland Cavaliers,72,17430,2778,6175,0.450,720,2141,0.336,...,751,2327,3078,1716,559,325,1114,1308,7476,20-21
30,NaN,League Average,72,17383,2967,6366,0.466,914,2494,0.367,...,708,2482,3190,1786,545,351,996,1389,8071,20-21

In [15]:
#print out the columns
result.columns

Index(['Rk', 'Team', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'Year'],
      dtype='object')

In [16]:
# examine the datatypes of the columns
# note that these were automatically inferred by pandas upon import!
pd.DataFrame(result.dtypes, columns=['Data Type'])

     Data Type
Rk     float64
Team    object
G        int64
MP       int64
FG       int64
FGA      int64
FG%    float64
3P       int64
3PA      int64
3P%    float64
2P       int64
2PA      int64
2P%    float64
FT       int64
FTA      int64
FT%    float64
ORB      int64
DRB      int64
TRB      int64
AST      int64
STL      int64
BLK      int64
TOV      int64
PF       int64
PTS      int64
Year    object

In [21]:
result['Year'] = result['Year'].astype(str)

In [22]:
pd.DataFrame(result.dtypes, columns=['Data Type'])

     Data Type
Rk     float64
Team    object
G        int64
MP       int64
FG       int64
FGA      int64
FG%    float64
3P       int64
3PA      int64
3P%    float64
2P       int64
2PA      int64
2P%    float64
FT       int64
FTA      int64
FT%    float64
ORB      int64
DRB      int64
TRB      int64
AST      int64
STL      int64
BLK      int64
TOV      int64
PF       int64
PTS      int64
Year    object

In [10]:
# displaying the index as it sits (auto-generated upon import)
df.index

RangeIndex(start=0, stop=31, step=1)

In [11]:
# also note that our auto-generated index has no name
print(df.index.name)

None

In [12]:
# Here we are looking at three columns;
# the one on the left is the index (automatically generated upon import by pandas)
# 'Rk' is our PK (primary key) from our imported table. 'Name' is a data column.
# Notice that the generated index starts at zero and our PK starts at 1.
pd.DataFrame(df.head(3)[['Rk', 'Team']])

    Rk                    Team
0  1.0  Golden State Warriors*
1  2.0  Oklahoma City Thunder*
2  3.0        Sacramento Kings

# Identify and Remove all Missing Data

In [23]:
# here is a quick and dirty way see all null values in aggregate
result.isnull().sum()

Rk      6
Team    0
G       0
MP      0
FG      0
FGA     0
FG%     0
3P      0
3PA     0
3P%     0
2P      0
2PA     0
2P%     0
FT      0
FTA     0
FT%     0
ORB     0
DRB     0
TRB     0
AST     0
STL     0
BLK     0
TOV     0
PF      0
PTS     0
Year    0
dtype: int64

In [25]:
result.shape

(186, 26)

# Data Visualization of NBA Data

In [ ]:
# let's sort by steals, descending
df.sort_values(by='STL', ascending=False).head(3)

In [ ]:
from IPython.display import HTML

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
%matplotlib inline

# Increase default figure and font sizes for easier viewing.
plt.rcParams['figure.figsize'] = (8, 6)
plt.rcParams['font.size'] = 14

In [ ]:
# Use year data frame to 
df[['Team', 'STL']].sort_values('STL').values

In [ ]:
# Compare with scatter plot
df.plot(kind='barh', x='Team', y='STL');