# Exploring Data with Pandas

In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\anooj\Desktop\ga-data\NBA-Playoff-Predictor\NBA Player Data\NBA Player Data.csv')
df = pd.DataFrame(df)
df

,Season,Lg,Player,Voting,Age,Tm,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,2020-21,NBA,Nikola Jokić\jokicni01,(V),25,DEN,72,34.6,26.4,10.8,8.3,1.3,0.7,0.566,0.388,0.868,15.6,0.301
1,2019-20,NBA,Giannis Antetokounmpo\antetgi01,(V),25,MIL,63,30.4,29.5,13.6,5.6,1.0,1.0,0.553,0.304,0.633,11.1,0.279
2,2018-19,NBA,Giannis Antetokounmpo\antetgi01,(V),24,MIL,72,32.8,27.7,12.5,5.9,1.3,1.5,0.578,0.256,0.729,14.4,0.292
3,2017-18,NBA,James Harden\hardeja01,(V),28,HOU,72,35.4,30.4,5.4,8.8,1.8,0.7,0.449,0.367,0.858,15.4,0.289
4,2016-17,NBA,Russell Westbrook\westbru01,(V),28,OKC,81,34.6,31.6,10.7,10.4,1.6,0.4,0.425,0.343,0.845,13.1,0.224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,1959-60,NBA,Wilt Chamberlain\chambwi01,(V),23,PHW,72,46.4,37.6,27.0,2.3,NaN,NaN,0.461,NaN,0.582,17.0,0.245
62,1958-59,NBA,Bob Pettit\pettibo01,(V),26,STL,72,39.9,29.2,16.4,3.1,NaN,NaN,0.438,NaN,0.759,14.8,0.246
63,1957-58,NBA,Bill Russell\russebi01,(V),23,BOS,69,38.3,16.6,22.7,2.9,NaN,NaN,0.442,NaN,0.519,11.3,0.206
64,1956-57,NBA,Bob Cousy\cousybo01,(V),28,BOS,64,36.9,20.6,4.8,7.5,NaN,NaN,0.378,NaN,0.821,8.8,0.178
65,1955-56,NBA,Bob Pettit\pettibo01,(V),23,STL,72,38.8,25.7,16.2,2.6,NaN,NaN,0.429,NaN,0.736,13.8,0.236

In [2]:
#determine the dimensions of our dataframe
df.shape

(66, 18)

In [3]:
#determine the number of rows

df.shape[0]

66

In [4]:
#print the last 3 rows
df.tail(3)

,Season,Lg,Player,Voting,Age,Tm,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
63,1957-58,NBA,Bill Russell\russebi01,(V),23,BOS,69,38.3,16.6,22.7,2.9,NaN,NaN,0.442,NaN,0.519,11.3,0.206
64,1956-57,NBA,Bob Cousy\cousybo01,(V),28,BOS,64,36.9,20.6,4.8,7.5,NaN,NaN,0.378,NaN,0.821,8.8,0.178
65,1955-56,NBA,Bob Pettit\pettibo01,(V),23,STL,72,38.8,25.7,16.2,2.6,NaN,NaN,0.429,NaN,0.736,13.8,0.236

In [5]:
pd.DataFrame(df.dtypes, columns=['Data Type'])

       Data Type
Season    object
Lg        object
Player    object
Voting    object
Age        int64
Tm        object
G          int64
MP       float64
PTS      float64
TRB      float64
AST      float64
STL      float64
BLK      float64
FG%      float64
3P%      float64
FT%      float64
WS       float64
WS/48    float64